<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.framgia.fpoll"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_KEY"/>

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.authenication.activity.AuthenticationActivity"/>
        <activity android:name=".ui.pollmanage.ManagePollActivity"/>
        <activity android:name=".ui.polledition.ModifyPollActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/TWITTER_VALUE"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1281983528552078"
            android:exported="true"/>

        <activity android:name=".ui.votemanager.LinkVoteActivity"/>
        <activity android:name=".ui.editprofile.EditProfileActivity"/>
        <activity android:name=".ui.pollmanage.history.HistoryManageActivity"/>
        <activity android:name=".ui.pollcreation.PollCreationActivity"/>
        <activity android:name=".ui.pollcreated.PollCreatedActivity"/>
        <activity android:name=".ui.uservote.UserVoteActivity"/>
    </application>
</manifest>
